[Unit]
Description=Susy Sophon Daemon
After=network.target

[Service]
# run as root, set base_path in config.toml
ExecStart=/usr/bin/susy --config /etc/susy/config.toml
# To run as user, comment out above and uncomment below, fill in user and group
# picks up users default config.toml in $HOME/.local/share/io.susy.sophon/
# User=username
# Group=groupname
# ExecStart=/usr/bin/susy
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives susy time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target


